body {
  background-color: black;
  color:salmon;
  font-family: monospace;
}

h2 {
  color:sandybrown;
}

h3 {
  color:sandybrown;
}

h4 {
  color:sandybrown;
}

hr {
  background-color: black;
  border-style: dotted none none;
  border-color: grey;
  border-width: 7.5px;
  border-spacing: 15px;
  max-width: 70px
}
